/**
 * Ä£¿é£ºtshop-pbsm-shop-item-recommend 
 * Æ¤·ô£¨Ö÷Ìâ£©: Ä¬ÈÏ
 * ¹æÔò:
 * 		1. CSSÑ¡ÔñÆ÷±ØÐë°üº¬ ".tshop-pbsm-shop-item-recommend"£¬½ûÖ¹Ê¹ÓÃÄ£¿éÒ³ÃæÔªËØµÄIDÑ¡ÔñÆ÷
 *		2. CSSÑùÊ½ÉùÃ÷µÄpositionÊôÐÔÖµ²»ÄÜÊ¹ÓÃ:fixed
 *		3. CSSÑùÊ½ÎÄ¼þÖÐz-indexÊôÐÔÖµ±ØÐëÔÚ1-99Ö®¼ä
 *		4. CSS URLµØÖ·±ØÐëÊÇÌÔ±¦URL°×Ãûµ¥ÖÐ»òÕß±¾µØ£¨Ïà¶Ô»ò¾ø¶Ô£©URL
 */

.tshop-pbsm-shop-item-recommend {color:#ffffff; background: url(assets/images/list_bg.jpg) 0 0 repeat-y;}


.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail {background: url(assets/images/list_bg.jpg) 0 0 repeat-y;}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail a.item-name { color: #6C5D32;}

.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .cprice-area {
	background: url(assets/images/price.jpg) 0 0 no-repeat;
	padding-left: 20px;
}
.tshop-pbsm-shop-item-recommend .skin-box-bd .item .detail .attribute .cprice-area .c-price {color: #6C5D32;}