<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-nav_mine</id>
    <uuid>7ad075f6d6944d20bdb216d5f51205d7</uuid>
    <name>我的导航</name>
    <file>tshop-um-nav_mine.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description></description>
    <requiredCache>true</requiredCache>
    <supportedWidth>190,550,750,950</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="宝贝设置">
            <section title="选择器部分" folded="false">
                <param description="描述信息就是要太长！" formType="itemForm" label="宝贝选择器" name="item_1" ptype="item">6,3,2</param>
                <param description="描述信息就是要太长！" formType="categoryForm" label="分类选择器" name="cate_1" ptype="category">[ {&#xd;
  "childIds" : "123",&#xd;
  "rid" : "120"&#xd;
} ]</param>
                <param description="描述信息就是要太长！" formType="text" label="关键字" name="key" ptype="text">T</param>
            </section>
        </group>
    </parameters>
</module>
