#sidebar ul li s,
#sidebar h2 s {
    background-image: url(img/icon.png);
}

#sidebar {
    width: 210px;
    float: left;
}

#sidebar .menu {
    margin-bottom: 8px;
}

#sidebar h2 {
    font-size: 18px;
    position: relative;
    padding-left: 18px;
    margin-bottom: 4px;
    cursor: pointer;
}

#sidebar h2 s {
    position: absolute;
    left: 3px;
    width: 9px;
    top: 3px;
    height: 13px;
    overflow: hidden;
    background-position: -591px -98px;
}

#sidebar h2.hide s {
    background-position: -617px -98px;
}

#sidebar ul {
    font-size: 12px;
    font-family: simsun, sans-serif;
    line-height: 26px;
}

#sidebar ul li {
    position: relative;
    border-bottom: solid 1px #f2f2f2;
    zoom: 1;
}

#sidebar ul li.current,
#sidebar ul li:hover {
    background-color: #f2f2f2;
}

#sidebar ul li.current a,
#sidebar ul li:hover a {
    color: #38a3db;
}

#sidebar ul li a {
    display: block;
    padding-left: 30px;
    text-decoration: none;
}

#sidebar ul li s {
    position: absolute;
    left: 12px;
    top: 7px;
    width: 15px;
    height: 11px;
    background-position: -588px -50px;
}