body {
    font-family: "Microsoft Yahei", sans-serif;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #38a3db;
    text-decoration: underline;
}

#main-container {
    width: 910px;
    margin: 43px auto 0 auto;
    height: 503px;
    position: relative;
}

#login {
    position: absolute;
    right: 0;
    top: 0;
    width: 322px;
}

#login img.logo {
    margin-top: 21px;
    margin-bottom: 38px;
}

#login h2 {
    font-family: "Microsoft Yahei", sans-serif;
    color: #666;
    margin-bottom: 8px;
    font-weight: bold;
}

#login h2 b {
    font-weight: normal;
}

#login input.user,
#login input.pwd {
    width: 310px;
    height: 27px;
    border: solid 1px #c8c8c8;
    margin-bottom: 10px;
    padding: 0 5px;
}

#login input.user:focus,
#login input.pwd:focus {
    border-color: #666;
    outline: none;
}

#login input.login {
    background-image: url(img/login.png);
}

#login input.login {
    width: 165px;
    height: 49px;
    border: 0 none;
    cursor: pointer;
    display: block;
    margin: 23px 0;
}

p.deny-passport,
p.modify-password {
    margin: 1.5em auto;
    font-family: Simsun, sans-serif;
    font-size: 14px;
}

p.deny-passport a {
    color: #005ca4;
    text-decoration: underline;
}

p.modify-password a {
    color: #333;
}

#login input.vpn-login {
    background-image: url(img/login.png);
    background-position: 0 -224px;
    width: 128px;
    height: 39px;
    border: none 0;
    cursor: pointer;
}

.high-mananger {
    margin: 2em 0;
}

#login .high-mananger h2 {
    font-family: Simsun, sans-serif;

}

#pic {
    position: absolute;
    left: 0;
    top: 0;
    border: solid 10px #005ca4;
    background: #005ca5;
    color: #fff;
    padding: 0 0 58px 0;
}

#pic h2 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin: 23px auto 0 0;
}

#pic p {
    color: #477cb3;
    font-size: 21px;
}

#pic img {
    display: block;
}

#footer .content {
    width: 990px;
}