#wrapper {
    border-top: solid 1px #4aacc5;
}

#wrapper h1 {
    position: absolute;
    top: 148px;
    left: 0;
    width: 401px;
    height: 206px;
    background: url(./img/pending.png);
}

#wrapper h1 span {
    position: absolute;
    left: 67px;
    top: 40px;
    width: 223px;
    height: 86px;
    color: #4aacc5;
    font-size: 36px;
    line-height: 84px;
    text-align: center;
}

#wrapper h2 {
    font-size: 30px;
    font-weight: bold;
    background: url(./img/quote.png) 0 4px no-repeat;
    margin-left: 369px;
    padding-left: 38px;
    margin-top: 148px;
}

#wrapper p.tips {
    margin-left: 408px;
    width: 414px;
    margin-top: 12px;
    background: url(./img/quote.png) right bottom no-repeat;
    padding: 12px 0 18px 0;
}

#wrapper a.go-home-page {
    font-size: 24px;
    display: inline-block;
    border: solid 3px #fff;
    padding: 10px 36px;
    margin: 1em auto 4em 406px;
    color: #fff;
    text-decoration: none;
}
