#main-content {
    width: 956px;
    float: right;
}

#search {
    position: relative;
    z-index: 2;
    width: 613px;
    margin-top: 0px;
    background: url("img/form_bg2.png") no-repeat;
}

#search .select {
    float: left;
    position: relative;
    z-index: 9;
    width: 112px;
    border: solid 2px #299edb;
    border-right: none;
    height: 31px;
}

#search .select input {
    width: 112px;
    padding: 0;
    border: none;
    background: #2a9edb url(./img/icon.png) -656px -81px no-repeat;
    text-align: center;
    color: #fff;
    vertical-align: top;
    height: 31px;
    float: left;
    line-height: 31px;
}

#search .select ul {
    position: absolute;
    left: -2px;
    top: 33px;
    font-family: simsun, sans-serif;
    font-size: 12px;
    text-align: center;
    width: 114px;
    line-height: 19px;
    cursor: default;
    display: none;
}

#search .select ul li:first-child {
    border-top: none;
}

#search .select ul li {
    background: #e9e9e9;
    border-top: solid 1px #c8c8c8;
}

#search .select ul li:hover {
    background: #2a9edb;
    color: #fff;
}

#search label {
    float: left;
    vertical-align: top;
}

#search input.keyword {
    width: 300px;
    height: 31px;
    padding: 0 6px 0 26px;
    outline: none;
    background: #eee url(./img/icon.png) -746px -150px no-repeat;
    border: solid 2px #299edb;
    border-left: none;
    border-right: none;
    font-size: 12px;
    vertical-align: bottom;
    float: left;
    *line-height: 31px;
    color: #565;
}

#search label.submit {
    position: absolute;
    left: 333px;
    top: 0;
    width: 123px;
    height: 35px;
    background: url(./img/icon.png) -631px 0 no-repeat;
}

#search label.submit input {
    background: none;
    border: none;
    outline-color: #fff;
    width: 100%;
    height: 29px;
}

#search .search-option {
    position: absolute;
    right: 28px;
    top: 10px;
    font-family: simsun, sans-serif;
    font-size: 12px;
}