/**
 * Ä£¿é£ºtshop-pbsm-shop-srch-inshop 
 * Æ¤·ô£¨Ö÷Ìâ£©: Ä¬ÈÏ
 * ¹æÔò:
 * 		1. CSSÑ¡ÔñÆ÷±ØÐë°üº¬ ".tshop-pbsm-shop-srch-inshop"£¬½ûÖ¹Ê¹ÓÃÄ£¿éÒ³ÃæÔªËØµÄIDÑ¡ÔñÆ÷
 *		2. CSSÑùÊ½ÉùÃ÷µÄpositionÊôÐÔÖµ²»ÄÜÊ¹ÓÃ:fixed
 *		3. CSSÑùÊ½ÎÄ¼þÖÐz-indexÊôÐÔÖµ±ØÐëÔÚ1-99Ö®¼ä
 *		4. CSS URLµØÖ·±ØÐëÊÇÌÔ±¦URL°×Ãûµ¥ÖÐ»òÕß±¾µØ£¨Ïà¶Ô»ò¾ø¶Ô£©URL 
 */

.tshop-pbsm-shop-srch-inshop {color:#4e3c2e;}

.tshop-pbsm-shop-srch-inshop .skin-box-bd input {border: 1px dashed #4e3c2e}

.tshop-pbsm-shop-srch-inshop .skin-box-bd .hot-keys a {color: #4e3c2e}

.tshop-pbsm-shop-srch-inshop .skin-box-hd {max-width: none; background: url(assets/images/_bg.jpg) 0 0 repeat-y; }
.tshop-pbsm-shop-srch-inshop .skin-box-hd h3 span {color: #4e3c2e;}
.tshop-pbsm-shop-srch-inshop .skin-box-bd {background: url(assets/images/_bg.jpg) 0 0 repeat-y;  border: 1px solid #e2d2c2!important;}
.tshop-pbsm-shop-srch-inshop .skin-box-bd .price label {color: #4e3c2e;}