/*----------------- 验证不通过时,错误提示的样式 ---------------*/
.talentErrMsg
{
	font-family: Tahoma, 宋体;
	font-size:9pt;
	line-height: 15px;
	color: #B92D1E;

	text-decoration: none;
	padding:2px 4px 2px 8px;
	padding-left:22px;

	margin:2px;
	margin-bottom:0px;

	background:url(./img/error.png) no-repeat 4px 2px;
	background-color: #fffff7;
	border:1px solid #fc0;
	border-radius: 5px;
	white-space: nowrap;
	
	
	/**让宽度自适应**/
	display: inline-block;
	
	/**inline-block在ie下无效，需要加下面两行。**/
	zoom: 1; 
    *display: inline;
}

/*
.talentErrMsg_hover {
	background-color: #fcc;
	color: #d00;
	border:1px solid #f58;
}*/
.talentErrMsg_hover {
	background-color: #FFF5FA;
	color: #d00;
	border:1px solid #F8B3D0;
}

/*----------------- 验证通过时,提示信息的样式 ---------------*/
.talentTipMsg {
	font-family: Tahoma, 宋体;
	font-size:9pt;
	line-height: 15px;
	font-weight:normal;
	color: #008000;
    
    border:0px solid #9BDF70;
	
	margin: 2px;
	margin-bottom:0px;
    
	padding:2px 4px 2px 8px;
	padding-left:22px;
	background:url(./img/success.png) no-repeat 4px 2px;
	
	background-color: #c0ffbb;
	border-radius: 5px;
	white-space: nowrap;
}

.talentTipMsg_hover {
	background-color: #f0fbeb;
	border-width: 0px;
}


/*----------------- 验证不通过时,输入框的样式 ---------------*/
.talentErrInput
{
	background-color: #fffff7;
	border:1px solid #fc0;
	/**background:url(./img/error2.png) no-repeat bottom right;*/
}

.talentErrInput:hover
{
	background-color: #FFF5FA;
	border:1px solid #F8B3D0;
}

.talentErrInput_1
{
	background-color: #FFF5FA;
	border:1px solid #F8B3D0;
}

/*----------------- 验证通过时,输入框的样式 ---------------*/
.talentSucInput
{
	border: 1px solid #9BDF70;
}
.talentSucInput_1
{
	border: 1px solid #00cc00;
	background-color: #CDFFCD;
}
/*----------------- 必输项的星号样式 ---------------*/
.talentReqStar
{
	color: #FF0000;
	font-family: Tahoma, 宋体;
	font-size:10pt;
	font-weight:normal;
	border-radius: 5px;
}
/*----------------- 比较验证器，被比较值的样式 ---------------*/
.talentComparedValue
{
	font-family: Tahoma, 宋体;
	background-color:#D7F2C6;
	font-size:9pt;
	padding:1px 4px 1px 4px;
	font-weight:bold;
	border:1px dashed #9BDF70;
	border-radius: 5px;
}

/**
 * 错误提示信息的关闭按钮
 */
.talentClose {
	margin-left: 8px;
	font-family: Verdana;
	font-size: 9pt;
	padding: 0px 2px 0px 2px;
	cursor: pointer;  /**ff下需要如此设置**/
	border-radius: 3px;
	/**font-weight: bold;*/
	color: #fff;
	background-color: #ff8989;
	display: inline-block;
	-webkit-text-size-adjust: none;
}
.talentClose:hover {
	color: #fff;
	background-color: #ff1111;
}
.talentClose_hover {
	color: #fff;
	background-color: #ff1111;
}
/**
 * 成功提示信息的关闭按钮
 */
.talentCloseTip {
	color: #fff;
	background-color: #32CD32;
}
.talentCloseTip:hover {
	color: #fff;
	background-color: #009900;
}
.talentCloseTip_hover {
	color: #fff;
	background-color: #009900;
}
