<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
	<include file='./Public/common/meta.html' />
	
<title></title>
</head>

<body>
<form id="form1" action="__ROOT__/admin/index/captureSave.shtml" method="post">
<input type="hidden" name="url" value="{$url}">
<div style="height:20px;"></div>
<div style="margin-left:10px; ">
	<div style="float:left;width:260px;"><img src="{$url}"/></div>

	<div style="float:left;width:260px;">
		<textarea name="introduce" class="xsArea fwA01" style="width:240px;"></textarea>
		<input type="submit" value="采下来">
	</div>
</div>
</form>
</body>
</html>
<script type="text/javascript">
	$(function () {
		
    });

	
</script>